@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.containerNav {
  height: 100px;
  width: 100%;
  background: #79cf68;
  background: linear-gradient(to left, #79cf68 32%, #76cccf 77%);
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.navBarcito {
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: deeppink;
}

a:hover {
  font-weight: 600;
  color: crimson;
  font-size: 1.4rem;
  transition: all 1s;
  background-color: bisque;
}

.navUl {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  gap: 6px;
}

.navLi {
  list-style: none;
}
